{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Add New Smartphone</h1>
		{{ form(form) }}
	</div>
{% endblock %}

{% block navigationPath %}
	<a class="btn btn-primary position-absolute" href="{{ path('smartphone-list') }}">Back to main page</a>
{% endblock %}
